<a href="https://colab.research.google.com/github/Tahnees/SimpleForm/blob/main/Lab_Exam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Quiz-2**

Perform following tasks on the provided Reviews Dataset.
* Drop words if not alphabets.
* Tokenize the sentence.
* Perform lemitization.
* Vectorize using bigram and trigram techniques.
* Apply Random Forest algorithm with 150 trees.
* Evaluate overall accuracy of the model and class-wise precision .

In [1]:
import pandas as pd
df = pd.read_csv('reviews_dataset.csv')

In [2]:
df.shape

(2225, 2)

In [55]:
import re

In [56]:
def remove_num(news):
    pattern = re.compile(r'[1-9,0]')
    return pattern.sub(r'', news)

In [57]:
df['news'] = df['news'].apply(remove_num)

In [54]:
df['news']

0       China had role in Yukos split-up China lent Ru...
1       Oil rebounds from weather effect Oil prices re...
2       Indonesia 'declines debt freeze ' Indonesia no...
3       $ m payoff for former Shell boss Shell is to p...
4       US bank in $ m SEC settlement Five Bank of Ame...
                              ...
2220    Microsoft launches its own search Microsoft ha...
2221    Warnings about junk mail deluge The amount of ...
2222    Microsoft gets the blogging bug Software giant...
2223    Gamers snap up new Sony PSP Gamers have bought...
2224    Apple laptop is 'greatest gadget ' The Apple P...
Name: news, Length: 2225, dtype: object

In [5]:
import nltk
nltk.download('punkt_tab')
from nltk.tokenize import word_tokenize,sent_tokenize

[nltk_data] Downloading package punkt_tab to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt_tab.zip.

In [ ]:
df['news'] = df['news'].apply(word_tokenize)

In [11]:
df['news'][1]

['Oil',
 'rebounds',
 'from',
 'weather',
 'effect',
 'Oil',
 'prices',
 'recovered',
 'in',
 'Asian',
 'trade',
 'on',
 'Tuesday',
 ',',
 'after',
 'falling',
 'in',
 'New',
 'York',
 'on',
 'milder',
 'winter',
 'weather',
 'across',
 'the',
 'US',
 '.',
 'With',
 'winter',
 'temperatures',
 'staying',
 'relatively',
 'high',
 'in',
 'the',
 'northern',
 'US',
 ',',
 'a',
 'barrel',
 'of',
 'light',
 'crude',
 'ended',
 'Monday',
 'down',
 '$',
 '1.33',
 'to',
 '$',
 '42.12',
 '.',
 'However',
 'crude',
 'prices',
 'have',
 'rebounded',
 'in',
 'Asia',
 ',',
 'rising',
 'to',
 '$',
 '42.30',
 'a',
 'barrel',
 'for',
 'February',
 'delivery',
 '.',
 'In',
 'London',
 ',',
 'trading',
 'of',
 'Brent',
 'crude',
 'was',
 'suspended',
 'for',
 'a',
 'public',
 'holiday',
 ',',
 'but',
 'the',
 'price',
 'fell',
 'to',
 '$',
 '39.20',
 'in',
 'the',
 'Far',
 'East',
 '.',
 'With',
 'milder',
 'temperatures',
 'expected',
 'to',
 'continue',
 'in',
 'the',
 'northern',
 'parts',
 'of',
 'the',
 'US',
 'over',
 'the',
 'next',
 'few',
 'days',
 'at',
 'least',
 ',',
 'analysts',
 'have',
 'said',
 'the',
 'price',
 'of',
 'oil',
 'may',
 'fall',
 'further',
 '-',
 'even',
 'if',
 'the',
 'decline',
 'was',
 'only',
 'temporary',
 '.',
 '``',
 'Weather',
 'has',
 'been',
 'the',
 'Achilles',
 "'",
 'heel',
 'of',
 'this',
 'market',
 ',',
 "''",
 'said',
 'ABN',
 'AMRO',
 'analyst',
 'John',
 'Brady',
 '.',
 '``',
 'But',
 'it',
 'is',
 'winter',
 'in',
 'the',
 'northeast',
 '.',
 'Eventually',
 'we',
 "'ll",
 'get',
 'another',
 'cold',
 'blast',
 '.',
 "''",
 'Despite',
 'a',
 'fall',
 'of',
 'more',
 'than',
 '$',
 '12',
 'a',
 'barrel',
 'from',
 'the',
 'record',
 'highs',
 'reached',
 'in',
 'late',
 'October',
 ',',
 'the',
 'price',
 'of',
 'crude',
 'oil',
 'remains',
 'almost',
 '30',
 '%',
 'higher',
 'than',
 'year-ago',
 'levels',
 '.',
 'Prices',
 'rose',
 'last',
 'week',
 'after',
 'militant',
 'attacks',
 'in',
 'Riyadh',
 ',',
 'the',
 'capital',
 'of',
 'Saudi',
 'Arabia',
 ',',
 'briefly',
 'renewed',
 'fears',
 'that',
 'the',
 'supply',
 'chain',
 'might',
 'be',
 'broken',
 'in',
 'the',
 'world',
 "'s",
 'leading',
 'crude',
 'exporter',
 '.',
 '``',
 'The',
 'market',
 'was',
 'panicked',
 'but',
 'fears',
 'essentially',
 'evaporated',
 '...',
 'since',
 'there',
 'was',
 'no',
 'follow-up',
 ',',
 "''",
 'said',
 'Deborah',
 'White',
 ',',
 'senior',
 'economist',
 'for',
 'energy',
 'at',
 'SG',
 'Securities',
 'in',
 'Paris',
 '.']

In [13]:
df['news']

0       [China, had, role, in, Yukos, split-up, China,...
1       [Oil, rebounds, from, weather, effect, Oil, pr...
2       [Indonesia, 'declines, debt, freeze, ', Indone...
3       [$, 1m, payoff, for, former, Shell, boss, Shel...
4       [US, bank, in, $, 515m, SEC, settlement, Five,...
                              ...
2220    [Microsoft, launches, its, own, search, Micros...
2221    [Warnings, about, junk, mail, deluge, The, amo...
2222    [Microsoft, gets, the, blogging, bug, Software...
2223    [Gamers, snap, up, new, Sony, PSP, Gamers, hav...
2224    [Apple, laptop, is, 'greatest, gadget, ', The,...
Name: news, Length: 2225, dtype: object

In [14]:
import nltk
nltk.download('wordnet')
from nltk.stem import WordNetLemmatizer
lemmitizer = WordNetLemmatizer()
def lemmitize_words(text):
    return " ".join([lemmitizer.lemmatize(word,pos='v') for word in text.split()])

[nltk_data] Downloading package wordnet to /root/nltk_data...

In [15]:
sent_1="Asian banks halt dollar's slide The dollar regained some lost ground against most major currencies on Wednesday after South Korea and Japan denied they were planning a sell-off."
lemmitize_words(sent_1)

"Asian bank halt dollar's slide The dollar regain some lose grind against most major currencies on Wednesday after South Korea and Japan deny they be plan a sell-off."

In [19]:
def lemmatize_words(tokens):
    return [lemmitizer.lemmatize(word,pos='v') for word in tokens]
    #return " ".join([lemmatizer.lemmatize(word) for word in tokens])

# Lemmatizing the tokenized words in the 'review' column
df['lemmatized_nwes'] = df['news'].apply(lemmatize_words)

In [20]:
df['news']

0       [China, had, role, in, Yukos, split-up, China,...
1       [Oil, rebounds, from, weather, effect, Oil, pr...
2       [Indonesia, 'declines, debt, freeze, ', Indone...
3       [$, 1m, payoff, for, former, Shell, boss, Shel...
4       [US, bank, in, $, 515m, SEC, settlement, Five,...
                              ...
2220    [Microsoft, launches, its, own, search, Micros...
2221    [Warnings, about, junk, mail, deluge, The, amo...
2222    [Microsoft, gets, the, blogging, bug, Software...
2223    [Gamers, snap, up, new, Sony, PSP, Gamers, hav...
2224    [Apple, laptop, is, 'greatest, gadget, ', The,...
Name: news, Length: 2225, dtype: object

In [33]:

from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score,confusion_matrix

In [36]:
cv = CountVectorizer(ngram_range=(2,2))
X = df['lemmatized_nwes'].astype(str)
Y = df['type']
X_train,X_test,y_train,y_test = train_test_split(X,Y,test_size=0.2,random_state=42)

print(X_train.shape)

vectorizer = CountVectorizer()
X_train_n_gram = cv.fit_transform(X_train)
X_test_n_gram = cv.transform(X_test)

# Output the shapes of the resulting Bag of Words matrices
print(f"Shape of X_train_bow: {X_train_n_gram.shape}")
print(f"Shape of X_test_bow: {X_test_n_gram.shape}")

(1780,)
Shape of X_train_bow: (1780, 257079)
Shape of X_test_bow: (445, 257079)

In [38]:
cv = CountVectorizer(ngram_range=(3,3))
X = df['lemmatized_nwes'].astype(str)
Y = df['type']
X_train,X_test,y_train,y_test = train_test_split(X,Y,test_size=0.2,random_state=42)

print(X_train.shape)

vectorizer = CountVectorizer()
X_train_n_gram = cv.fit_transform(X_train)
X_test_n_gram = cv.transform(X_test)

# Output the shapes of the resulting Bag of Words matrices
print(f"Shape of X_train_bow: {X_train_n_gram.shape}")
print(f"Shape of X_test_bow: {X_test_n_gram.shape}")

(1780,)
Shape of X_train_bow: (1780, 495758)
Shape of X_test_bow: (445, 495758)

In [39]:
rf = RandomForestClassifier()

rf.fit(X_train_n_gram,y_train)
y_pred = rf.predict(X_test_n_gram)

print ("Accuracy",accuracy_score(y_test,y_pred))
print (confusion_matrix(y_test,y_pred))

Accuracy 0.7752808988764045
[[ 91   2   5  16   1]
 [  8  39   0  25   0]
 [  1   0  62  11   2]
 [  0   0   0 102   0]
 [ 12   3   0  14  51]]